.chartwrap{
    border-radius:1.5rem;
    background:#fff;
    padding:1rem;
    border:6px solid rgb(170, 211, 223);
    position:relative;
    outline: 6px solid rgb(199, 170, 223);
}

/* wiggle */


/* Animation property */
.chartwrap {
    animation: wiggle 1s linear;
  }
  
  /* Keyframes */
  /*@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }*/

    @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-2deg);
        }
        20% {
          transform: rotateZ(1deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
  }
