@keyframes wave{
    0%{
        transform:translateY(0);
        
    }
    50%{
        transform:translateY(-20px);
    }
    100% {
        transform:translateY(0);
        
    }
}

@keyframes fadein{
    from{
        opacity:0.1;
    }
    to {
        opacity:1
    }
}

.heading{
    text-align: center;
    font-family:'Rubik', sans-serif;
    font-weight:900;
    font-size:5rem;
    margin:0 0 1rem 0;
    font-style: italic;
    position:relative;
    
    /*animation: 2s ease-out 1s 1 normal forwards running wave;*/
}

.letter{
    position:relative;
    display:inline-block;
    animation: 0.5s ease-in-out calc(1s + 0.2*var(--indexNum)) 1 normal forwards running wave, 
               0.5s ease-in-out calc(1s + 0.2*var(--indexNum)) 1 normal forwards running fadein;
    opacity:0.1;
}

