@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,900&display=swap');

body{
    margin:0;
    color: rgb(11, 64, 80);
    background:rgb(170, 211, 223);
}

.map{
    z-index:2;
    height:100vh;
    position: relative;
}
.main{
    position:relative;
    overflow:hidden;
}
.stationpanel{
    position:absolute;
    left: calc(50% - 5rem);
    right:0;
    top:0;
    bottom:0;
    z-index:5;
    padding:2rem 2rem 2rem 8rem;
    background:lemonchiffon;
    clip-path: polygon(10rem 0%, 100% 0%, 100% 100%, 0% 100%);
    animation: 1s 1 normal slidein;
}

@keyframes slidein {
    from {
      left: 100%;
    }
  
    to {
      left: calc(50% - 5rem);
    }
  }





