body{
    margin:0;
}

.main{
    display:flex;
}

.stationInfo{
    background-color:rgb(11, 64, 80);
}
.map{
    flex:1;
    height:100vh;
}
.stationInfo{
    flex:1;
    color:#fff;
    padding:2rem;
}

.stationInfo h1{
    text-align: center;
}
